<div>

<form class="uk-search">
    <input class="uk-search-input" type="search" placeholder="Search pixaful" name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" required>
  </form>

</div>
<div class="uk-card uk-card-large uk-padding-small uk-card-default">
  <h2>Recent Posts</h2>
  <ul class="uk-list uk-list-striped">
    {{ range first 4 (where .Site.RegularPages "Section" "blog") }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a><br /><span class="date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
    </li>
    {{ end }}
  </ul>
</div>