
<div class="">
  <ul class="">
    {{ range first 4 (where .Site.RegularPages "Section" "blog") }}
    <p class="posted"><span uk-icon="calendar"></span> {{ .Date.Format "Mon, Jan 2, 2006" }}</p>
  <div class="uk-panel uk-text-small">
      <p class="uk-text-uppercase"><strong><a href="{{ .Permalink }}">{{ .Title }}</a></p></strong>
    
    <a href="{{.URL}}"><img class="uk-align-left uk-margin-remove-adjacent" src="{{ $.Site.Params.cloudinary_base_url }}/w_130{{ .Params.featured_image }}" alt="{{.Title}}" /></a>

  
 <p> {{.Summary}}</p>
   <hr>
    {{ end }}

</div>
  
  </ul>
</div>