
<hr />
<div class="pure-g triplewords">
  <div class="pure-u-1 pure-u-md-1-3 uk-padding-small">
    <small>1</small>
    <h3>Experienced with Platforms</h3>
    <p>I have the knowledge to use a platform that works for you. I also have the design skills to deliver the perfect eCommerce experience.</p>
  </div>
  <div class="pure-u-1 pure-u-md-1-3 uk-padding-small">
    <small>2</small>
    <h3>Scalable Builds</h3>
    <p>I build with the future in mind. Should you want to expand your store, or go even bigger with the site, your build will handle the scale.</p>
  </div>
  <div class="pure-u-1 pure-u-md-1-3 uk-padding-small">
    <small>3</small>
    <h3>Bespoke</h3>
    <p>I design and build experiences, so I design and build everything from scratch, which makes your site quick to load and easy to use.</p>
  </div>
</div>