<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
      <link rel="manifest" href="/site.webmanifest">
      <link rel="canonical" href="{{ .Permalink }}">
      {{ if .IsHome -}}
      <title>Conversion-Focused Website Development ¦¦ Pixaful</title>
      <meta name="description" content="Conversion-focused website development for small to medium-sized businesses in Buckinghamshire"/>
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="@pixaful">
      <meta name="twitter:creator" content="@pixaful">
      <meta name="twitter:title" content="Conversion-focused website development ¦¦ Pixaful">
      <meta property="twitter:url" content="https://pixaful.dev" />
      <meta name="twitter:description" content="Conversion-focused website development for small to medium-sized businesses in Buckinghamshire">
      <meta name="twitter:image" content="home">
      <meta property="og:title" content="home" />
      <meta property="og:type" content="article" />
      <meta property="og:description" content="Conversion-focused website development for small to medium-sized businesses in Buckinghamshire" />
      <meta property="og:image" content="home" />
      <meta property="og:url" content="https://pixaful.dev" />
      <meta property="og:site_name" content="home" />{{- else -}}
      <title>{{ if .Title }}{{ .Title }} {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>
      <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.SiteDescription }}{{ end }}">
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="@pixaful">
      <meta name="twitter:creator" content="@pixaful">
      <meta name="twitter:title" content="{{ .Params.twittertitle }}">
      <meta property="twitter:url" content="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}{{ .Permalink | absURL }}" />
      <meta name="twitter:description" content="{{ .Params.twitterdescription }}">
      <meta name="twitter:image" content="{{ $.Site.Params.cloudinary_base_url }}/w_1200{{ .Params.featured_image }}">
      <meta property="og:title" content="{{ .Params.ogtitle }}" />
      <meta property="og:type" content="article" />
      <meta property="og:description" content="{{ .Params.ogdescription }}" />
      <meta property="og:image" content="{{ $.Site.Params.cloudinary_base_url }}/w_1200{{ .Params.featured_image }}" />
      <meta property="og:url" content="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}{{ .Permalink | absURL }}" />
      <meta property="og:site_name" content="Pixaful" />{{- end }}{{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}    <link href="{{ relURL . }}" rel="stylesheet">{{ end }}

</head>
<body class="Site">
    <div class="tipue-slide-toggle tipue-slide-screen"></div><div id="tipue-slide"></div>
  {{ block "header" . }}{{ partial "header" . }}{{end}}
  <a id="button"></a>
  {{ block "main" . }}{{end}}
  {{ block "footer" . }}{{ partial "footer" . }}{{end}}
<div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
  <div class="uk-offcanvas-bar">
      <button class="uk-offcanvas-close" type="button" uk-close></button>
      <h3>Search Pixaful</h3>
      <div>
        <form class="uk-search">
        <input class="uk-search-input hide" type="search" placeholder="Search pixaful" name="q" id="tipue_search_input"
          pattern=".{3,}" title="At least 3 characters" required>
          </form>
        </div>
        <div id="tipue_search_content"></div>
  </div>
</div>
<!-- {{ $script := .Site.Data.webpack.main }}
{{ with $script.js }}
<script src="{{ relURL . }}"></script>
{{ end }} -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit-icons.min.js"></script> -->
<!-- <script src="/js/jquery.smartmenus.min.js" type="text/javascript"></script> -->
<script src="/js/pixaful.js" type="text/javascript"></script>
<!-- {{ $script := .Site.Data.webpack.main }}
{{ with $script.js }}
<script src="{{ relURL . }}"></script>
{{ end }} -->
<script src="/js/tipueslide_content.js" defer></script>
<!-- <script src="/js/tipueslide.js"></script> -->
  <!-- <script>
    var btn = $('#button');

      $(window).scroll(function () {
        if ($(window).scrollTop() > 300) {
          btn.addClass('show');
        } else {
          btn.removeClass('show');
        }
      });

      btn.on('click', function (e) {
        e.preventDefault();
        $('html, body').animate({ scrollTop: 0 }, '300');
      });
      /* NEXT SCRIPT */
       $(document).ready(function () {
          $('.tipue-slide-screen').tipueslide();
        });
  /* NEXT SCRIPT */
          $(function () {
              $('#main-menu').smartmenus();
            });
      </script>
       -->
       <!-- Matomo -->
<script type="text/javascript">
  // require user consent before processing data
  var _paq = window._paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//www.siteadviser.co.uk/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
{{/*  <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="bd86efcf-af7a-4d68-a335-3576d426d410" type="text/javascript" async></script>  */}}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145368537-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-145368537-1');
</script>
</body>
</html>
