{{ define "main" }}

<main class="Site-content">
          <h1>Blog</h1>
          {{.Content}}
          {{ $paginator := .Paginate (where .Site.RegularPages "Type" "blog") }}
          {{ range .Paginator.Pages }}
               <div class="uk-card uk-margin uk-card-body uk-card-default">
               {{ with .Params.featured_image }}<img class="uk-align-left uk-margin-remove-adjacent" src="{{ . }}" width="225" height="150"
                         alt="">{{ end }}
                   
                         <h2><a href="{{.URL}}">{{.Title}}</a></h2>
                   
                    <small>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</small>
                    <div style="color:grey; font-size:16px;">{{ if .Params.tags }}<strong>Tags:</strong> {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
                    <div style="color:grey; font-size:16px;">{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
                    <div style="color:grey; font-size:16px;">{{ if .Params.moods }}<strong>Moods:</strong> {{range .Params.moods}}<a href="{{ "/moods/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
                   
                    <p style="font-size:18px;">{{.Summary}}</p>
               </div>
          {{ end }}
          
          {{ partial "pagination" .}}
</main>

{{ end }}


