/*
  You can use import statements to include partials:
 */
@import 'imports/pure-min';
@import 'imports/grids-responsive-min';
@import 'imports/sm-core-css';
@import 'imports/sm-simple';
@import 'imports/hovercards';
@import 'imports/uikit';
@import 'imports/tipue.scss';
@import 'imports/owl.carousel.min';
@import 'imports/owl.theme.default';
@import 'imports/fonts';

// sm	@media screen and (min-width: 35.5em)	≥ 568px	.pure-u-sm-*
// md	@media screen and (min-width: 48em)	≥ 768px	.pure-u-md-*
// lg	@media screen and (min-width: 64em)	≥ 1024px	.pure-u-lg-*
// xl	@media screen and (min-width: 80em)	≥ 1280px	.pure-u-xl-*

/* Fake container */
$contain-sm: 0 5% 0 5%;
$contain-md: 0 10% 0 10%;
$contain: 0 15% 0 15%;

/* Fonts */
$merry: 'Merriweather', serif;
$cabin: 'Cabin', sans-serif;

.aligner {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

/* Used on side of single blog post */
.posted {
  padding: 0em 0em 1em 0em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 8pt;
  color: #A2A2A2;
}


/* Basic Blue Button with arrow on hover */
a.btn {
  background:#41c4d5;
   border-radius:25px;
   text-decoration:none;
   color:#fff;
  transition: padding 0.2s ease-in-out;
  padding: 11px 36px;
  font-family:'Cabin', sans-serif;
  font-weight: bold;
  text-transform:uppercase;
  position:relative;
&:hover {
  padding-left: 26px;
  padding-right: 46px;
}
&:hover:after {
  opacity: 1;
  right: 16px;
}
&:after {
  content: "";
  position: absolute;
  right: 0;
  width: 20px;
  height: 17px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('/images/btn-arrow.png');
  background-repeat: no-repeat;
  opacity: 0;
  transition: all 0.2s ease-in;
}
&:focus,
&:active {
  box-shadow: none !important;
}
}

/* Basic Stuff */

body {
  background:#fff;
  color:rgb(29, 29, 29);
  font-family: $merry;
  font-size:1em;
  overflow-x:hidden;
  line-height:1.5em;
}
header,main,.container {
  padding:$contain-sm;
}
main.single {
  padding:0;
}
h1,h2,h3 {
  font-family:$cabin;
  line-height:1em;
}
img {
  max-width:100%;
}

.logo {
  display:block;
  margin: 0 auto;
  width:136px;
}

.biggap {
  padding:40px 0 40px 0;
}
main {
  font-size:1.1em;}

.mt-10 {
  display:inline-block;
  margin-top:10px;
}

/* Fixed footer on short paqes */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .Site-content {
    flex: 1;
    background:rgb(243, 243, 243);
    padding-top:50px;
  }

/* Site Posts */

.homeposts {
  display:grid;
  grid-gap:20px;
  margin-bottom:20px;

}

  .post {
    background:#fff;
    padding:40px;
  }

/* Pagination */

.pagination {
  display: flex;
  list-style: none;
  border-radius: .25rem;
  margin: 20px 0;
  padding: 0;
  justify-content: center;
}

.page-link {
  position: relative;
  display: block;
  padding: .75rem 1rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.homepage .page-link,
.listing .page-link {
  background-color: #fff;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

/* Footer Section */

  footer {

    padding:$contain;
    padding-top:80px;
    padding-bottom:80px;
  
  h2 {
    text-transform:uppercase;
    font-size:1em;
  }

  p,li {
    color:#474747;
    font-size:0.9em;
  }
  ul {
    padding:0;
  li {
    list-style:none;
  }
  }
  }
  .sticky-fixed {
    background: #fff;
    position:relative;

}

.triplewords {
  p {
    font-family:$cabin;
    font-size:0.8em;
    font-weight:300;
    text-transform:uppercase;
    color:rgb(66, 66, 66);
  }
  h3 {
    margin:0;
  }
  small {
  
    border: solid 1px #999;
    display:inline-block;
    padding:5px 13px;
    border-radius:20px;
    margin-bottom:10px;
    // width:15px;
    // height:15px;
  }
}


    @media screen and (min-width: 48em) {
      .uk-sticky-fixed {
        position:fixed;
        background: #f8f6f6;
  
    }
.intro {
 h1 {
   font-size:2em;
   font-weight:700;
 }
    .lead {
      padding-top:20px;
      font-size:1.5em;
      line-height:1.4em;
    }
  }
    

      header {
            min-height:10vh;
            padding:$contain;
            display:grid;
            align-items:center;
            grid-template-areas:
            "logo nav";
            grid-template-columns: 2fr 8fr;
            grid-gap:30px;
            background:#f3f3f3;
          
          }
    .homeposts {
      display:grid;
      grid-template-areas:
      "post post post";
      grid-template-columns:1fr 1fr 1fr;
      grid-gap:20px;
      margin-bottom:20px;
  
    }
  }
    @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 

  .split {
    
  }
  
  //   .intro {
  //     h1 {
  //     font-size:5em;
  //     margin:0;
  //     font-weight:700;
  
  //         }
  // }

  }



  




/*Browserstack common resolutions */

/* Mobile First */

/* 1024 */
@media screen and (min-width: 1024px) {

}

/* Ipad Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

}

/* Ipad landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

}

/* 1280 */
@media screen and (min-width: 1280px) {

}

/* 1366 */
@media screen and (min-width: 1366px) {

}

/* 1440 */
@media screen and (min-width: 1440px) {

}

/* 1600 */
@media screen and (min-width: 1600px) {

}

/* 1680 */
@media screen and (min-width: 1680px) {

}
/* 1920 */
@media screen and (min-width: 1920px) {
  main {
    padding:$contain;
  }
   .intro {
      h1 {
      font-size:5em;
      margin:0;
      font-weight:700;
  
          }
  }


header.hero{
  display:block;
  padding: 15vh 0;
  background-size: cover;
  background-position: center;
  color: #fff;
  width: 100%;

  h1{
  text-align: center;
  font-size: 5em;
  color:#fff;
  margin:0;
}
}


figure.effect-oscar figcaption::before, figure.effect-oscar p {
  opacity: 0;
  transition: opacity .35s,transform .35s;
  transform: scale(0);
  font-size: 0.7em;
  line-height: 1.3em;
}
}
/* 2048 */
@media screen and (min-width: 2048px) {

}


