{{ define "main" }}
<main class="Site-content">
          <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-2-5">
<div class="uk-padding">
     <img data-srcset="elva-fairy-320w.jpg 320w,
                  elva-fairy-480w.jpg 480w,
                  elva-fairy-800w.jpg 800w" sizes="(min-width: 320px) 280px,(min-width: 480px) 440px,800px"
          src="/images/hayden-tomas-large.png" alt="Hayden Tomas - Front-end website developer" uk-img>
</div>
                    </div>
                    <div class="pure-u-1 pure-u-md-3-5 intro">
                          <h1>Hayden Tomas Website Developer</h1>
          <p class="lead">For over 8 years, I have been helping local businesses with their website needs, covering <a href="#">Website Development</a>, <a href="#">SEO</a>, <a href="#">Website Security</a>, <a href="#">E-commerce</a> and <a href="#">Website Maintenance</a></p>
         <p>I am ready to help your local business grow online. I am based in High Wycombe and prefer to work with local businesses, tradespersons and startups looking to expand their local reach.</p>
         <p><strong>Are you ready to take your local business online?</strong></p>
          <p><a class="btn mt-10" href="#getintouch" uk-toggle>get in touch</a></p>
<div id="getintouch" class="uk-flex-top" uk-modal>
     <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

          <button class="uk-modal-close-default" type="button" uk-close></button>
<div id="contact">
<form name="contact" action="POST" data-netlify="true">
     <label class="hidden">Don’t fill this out if you're human: <input name="bot-field" /></label>
          <fieldset class="uk-fieldset">
               <legend class="uk-legend">Contact Pixaful</legend>
               <div class="uk-margin">
                    <input class="uk-input" type="text" name="name" placeholder="Full Name" required>
               </div>
               <div class="uk-margin">
                    <input class="uk-input" type="text" name="email" placeholder="Email Address" required>
               </div>
               <div class="uk-margin">
                    <div uk-form-custom="target: > * > span:first-child">
                         <select name="role[]">
                              <option value="i need help with">I need help with...</option>
                              <option value="A new website for my local business">A new website</option>
                              <option value="A website redesign for my existing business">A website redesign</option>
                              <option value="SEO, I need to be found in Google">SEO</option>
                              <option value="Help! My website has been hacked!">Maintenance</option>
                              <option value="Something else">Something else</option>
                         </select>
                         <button class="uk-button uk-button-default" type="button" tabindex="-1">
                              <span></span>
                              <span uk-icon="icon: chevron-down"></span>
                         </button>
                    </div>
               </div>
               <div class="uk-margin">
                    <textarea class="uk-textarea" name="message" rows="5" placeholder="Enter your message here"></textarea>
               </div>
               <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                    <label><input class="uk-checkbox" name="checked" type="checkbox" required>  I agree to email communications from Hayden Tomas</label>
               </div>
               <div class="uk-margin">
                    <button class="uk-button uk-button-default" type="submit">Send</button>
               </div>
          </fieldset>
     </form>
</div>
     </div>
</div>
                    </div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-1-3">
                  <div class="grid">
                    <figure class="effect-oscar">
                         <img src="/images/web-development.jpg" alt="Website Development Services Buckinghamshire UK"/>
                         <figcaption>
                              <h2>Website <span>Development</span></h2>
                              <p>A hassle free web development service for local businesses, start-ups and entrepreneurs.</p>
                              <a href="#">View more</a>
                         </figcaption>			
                    </figure>
                  </div>
                    </div>
                    <div class="pure-u-1 pure-u-md-1-3">
                      <div class="grid">
                         <figure class="effect-oscar">
						<img src="/images//website-maintenance.jpg" alt="Website Maintenance Buckinghamshire UK"/>
						<figcaption>
							<h2>Website <span>Maintenance</span></h2>
							<p>A complete website maintenance service which covers updates, security and backups.</p>
                              <a href="#">View more</a>
						</figcaption>			
					</figure>
                      </div>
                    </div>
                    <div class="pure-u-1 pure-u-md-1-3">
                <div class="grid">
                    <figure class="effect-oscar">
                         <img src="/images/seo-services.jpg" alt="SEO Services Buckinghamshire UK"/>
                         <figcaption>
                              <h2>Search Engine <span>Optimisation</span></h2>
                              <p>A 100% White-hat SEO service for local businesses</p>
                              <a href="#">View more</a>
                         </figcaption>			
                    </figure>
                </div>
                    </div>
               </div>
<!--         
sm 	@media screen and (min-width: 35.5em) 	≥ 568px 	.pure-u-sm-*
md 	@media screen and (min-width: 48em) 	≥ 768px 	.pure-u-md-*
lg 	@media screen and (min-width: 64em) 	≥ 1024px 	.pure-u-lg-*
xl 	@media screen and (min-width: 80em) 	≥ 1280px 	.pure-u-xl-*
     <h3>This could be a couple of portfolio posts</h3>
       {{ if .Site.Params.Tiles.enable }}
          {{ partial "projects.html" . }}
          {{ end }} -->
     <!-- <div class="pure-g">
          <div class="pure-u-1-3">
               <p>Thirds</p>
          </div>
          <div class="pure-u-1-3">
               <p>Thirds</p>
          </div>
          <div class="pure-u-1-3">
               <p>Thirds</p>
          </div>
     </div> -->
     <!-- <div class="page-blocks">
          {{- range .Params.blocks -}}
          {{- if eq .template "hero-section" -}}{{ partial "blocks/hero" (dict "Params" .) }}{{- end -}}
          {{- if eq .template "media-feature" -}}{{ partial "blocks/media-feature" (dict "Params" .) }}{{- end -}}
          {{- if eq .template "call-to-action" -}}{{ partial "blocks/cta" (dict "Params" .) }}{{- end -}}
          {{- if eq .template "body-copy" -}}{{ partial "blocks/content" (dict "Params" .) }}{{- end -}}
          {{- end -}}
     </div> -->
      <h2 class="biggap">My blog is full of helpful articles for developers, covering everything I use in my daily web development workflow.</h2>
      <div class="homeposts">
          {{ $paginator := .Paginate (where .Site.RegularPages "Type" "blog") }}
      {{ range .Paginator.Pages }}
      <!-- <div class="post">
          <h2><a href="{{.URL}}">{{.Title}}</a></h2>
           <small>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</small>
           <div style="color:grey; font-size:16px;">{{ if .Params.tags }}<strong>Tags:</strong> {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
           <div style="color:grey; font-size:16px;">{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
           <div style="color:grey; font-size:16px;">{{ if .Params.moods }}<strong>Moods:</strong> {{range .Params.moods}}<a href="{{ "/moods/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
{{ with .Params.featured_image }}<img src="{{ . }}">{{ end }}
           <p style="font-size:18px;">{{.Summary}}</p>
      </div> -->
      <div class="post">
          <div class="post-body">
          <h2><a href="{{.URL}}">   {{ with .Params.featured_image }}<img src="{{ . }}">{{ end }}</a></h2>
          <div class="">
               <small>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</small>
               <h2><a href="{{.URL}}">{{.Title}}</a></h2>
            {{.Summary}}
             </div>
          </div>
     </div>
 {{ end }}
</div>
</main>
 {{ end }}